@keyframes pulse-green {
  0% {
    box-shadow: 0 0 5px #21ff00;
  }
  50% {
    box-shadow: 0 0 20px #21ff00, 0 0 30px #21ff00;
  }
  100% {
    box-shadow: 0 0 5px #21ff00;
  }
}

@keyframes pulse-purple {
  0% {
    box-shadow: 0 0 5px #9c27b0;
  }
  50% {
    box-shadow: 0 0 20px #9c27b0, 0 0 30px #9c27b0;
  }
  100% {
    box-shadow: 0 0 5px #9c27b0;
  }
}


body {
  font-family: Arial, sans-serif;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: black;
  color: #21ff00;
}

h1, h2 {
  font-size: 2.5em;
  text-align: center;
  animation: pulse 2s infinite;
  margin-top: 50px;
}

.separator {
  height: 4px; /* Updated the height to make the separator line thicker */
  background-color: white;
  margin: 20px 0;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 5px;
  background-color: #222;
  color: #21ff00;
  border: 2px solid #21ff00;
  animation: pulse 2s infinite;
}

#task-input {
  height: 75px; /* Adjust the height as desired */
  font-size: 24px; /* Adjust the font size as desired */
  padding: 0 10px; /* Add padding to the input field */
}

button {
  padding: 5px;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 5px;
  background-color: #21ff00;
  box-shadow: 0 0 5px #21ff00;
  animation: pulse-green 2s infinite;
}

button[type="submit"] {
  background-color: #21ff00;
}

.complete-btn {
  background-color: #21ff00;
}

.delete-btn {
  background-color: #f44336;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #222;
  border: 2px solid #21ff00;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: pulse 2s infinite;
}

span {
  flex: 1;
  word-wrap: break-word;
  padding-right: 15px;
}

li span.completed {
  text-decoration: line-through;
}


.switch-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Customize the switch background when it is unchecked */
.switch input[type="checkbox"] + .slider {
  background-color: white;
}

/* Customize the switch slider when it is unchecked */
.switch input[type="checkbox"] + .slider:before {
  background-color: #21ff00;
}

/* Customize the switch background when it is checked */
.switch input[type="checkbox"]:checked + .slider {
  background-color: black;
}

/* Customize the switch slider when it is checked */
.switch input[type="checkbox"]:checked + .slider:before {
  background-color: #9c27b0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
